@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Nanum+Myeongjo&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
/* font-family: 'Cormorant Garamond', serif; */
* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    /* border: 1px solid #f00; */
}

/* #2c99cd, #2e3d76 */

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px 0;
}

p {
    color: #333;
    letter-spacing: -0.025em;
}

section {
    padding: 100px 0;
}

.header {
}

.header .container {
    justify-content: space-between;
}

.header h1 {
    font-size: 0;
    align-items: center;
    padding: 10px 0;
    width: 200px;
}

.header h1 img {
    height: 100px;
}

.gnb ul {
    font-size: 19px;
    display: flex;
    gap: 50px;
    line-height: 120px;
}

.log {
    width: 200px;
}

.log ul {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: end;
    gap: 20px;
    line-height: 120px;
}

.bar {
    display: none;
}

.mainVisual {
    position: relative;
    padding: 0;
}

.mainVisual .bg01 {
    background: url(../img/bg08.jpg) no-repeat bottom 10% center / cover;
    height: calc(100vh - 120px);
}

.mainVisual .bg02 {
    background: url(../img/bg10.jpg) no-repeat top 65% center/cover;
    height: calc(100vh - 120px);
}

.mainVisual .bg03 {
    background: url(../img/bg05.jpg) no-repeat center center/cover;
    height: calc(100vh - 120px);
}

.mainVisual .scr {
    position: absolute;
    bottom: 10%;
    left: 50%;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 30px;
    height: 60px;
}

.mainVisual .scr::after {
    content: "";
    position: absolute;
    top: 8px;
    left: calc(50% - 1px);
    width: 2px;
    height: 10px;
    background: #fff;
    animation: scr 1.5s infinite linear;
}

@keyframes scr {
    to {
        top: 15px;
    }
}

.mainCopy {
    position: relative;
}

.mainCopy::after {
    font-family: "Cormorant Garamond", serif;
    content: "blu shaak";
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 250px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: rgba(0, 0, 0, 0.03);
    z-index: -1;
}

.mainCopy .container {
    gap: 100px;
}

.mainCopy .left {
    flex: 1;
}

.mainCopy .bg {
    position: relative;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    border-radius: 50%;
    overflow: hidden;
}

.mainCopy .shaak {
    position: absolute;
    top: 50%;
    left: 55%;
    animation: shaak 5s infinite;
    height: 300px;
}

@keyframes shaak {
    0% {
        top: 62%;
        transform-origin: bottom center;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    100% {
        top: 65%;
        transform-origin: bottom center;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

.mainCopy .waveBack {
    position: absolute;
    top: 150%;
    left: 50%;
    background: #304d82;
    width: 800px;
    height: 800px;
    border-radius: 45%;
    animation: wave 6s infinite;
}

.mainCopy .waveFront {
    position: absolute;
    top: 160%;
    left: 50%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 800px;
    height: 800px;
    border-radius: 45%;
    animation: wave 5s infinite;
    z-index: 999;
}

@keyframes wave {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.mainCopy .right {
    flex: 2;
    margin: auto 0;
}

.mainCopy .right span {
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.6;
}

.mainCopy .right p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0 0 10px 0;
}

.mainCopy .right p:nth-child(2) {
    font-size: 15px;
    font-weight: 400;
}

.mainMenu {
    padding: 50px 0 100px 0;
}

.mainMenu .container {
    /* width: 1260px; */
    display: block;
    height: 350px;
}

.menuTop {
    display: flex;
    justify-content: space-between;
}

.fleBox {
    display: flex;
}

.tabMenu {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.tabMenu > li > a {
    text-align: center;
    display: block;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 5px;
}

.tabMenu > li.on > a {
    background: #2e3d76;
    color: #fff;
}

.tabCoffee {
    flex: 5;
}

.tabContent {
    position: relative;
}

.tabContent > li {
    position: absolute;
    inset: 0 auto auto 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: 0.5s;
}

.tabContent > li.on {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menuSlide figure img {
    border-radius: 10px;
    margin: 0 0 10px 35px;
}

.menuSlide .txt {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #333;
    text-indent: 30px;
}

.arrow {
    font-size: 13px;
    color: #2e3d76;
    margin: 0 3px 0 0;
    transform: translateY(15px);
}

.arrow i {
    border: 1px solid #2e3d76;
    border-radius: 50%;
    padding: 5px;
    margin: 0 3px;
}

.arrow i:hover {
    color: #fff;
    background: #2e3d76;
}

.mainTxt {
}

.mainTxt {
    position: relative;
    overflow: hidden;
}

.mainTxt::before {
    font-family: "Cormorant Garamond", serif;

    content: "Blu Shaak Blu Shaak Blu Shaak Blu Shaak Blu Shaak";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    font-weight: 900;
    color: #2e3c761a;
    white-space: nowrap;
    animation: move 20s infinite linear;
    padding: 50px 0 0 0;
}

.mainTxt::after {
    font-family: "Cormorant Garamond", serif;

    content: "Blu Shaak Blu Shaak Blu Shaak Blu Shaak Blu Shaak";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    font-weight: 900;
    color: #2e3c761a;

    white-space: nowrap;
    animation: move2 20s infinite linear;
    padding: 50px 0 0 0;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes move2 {
    from {
        transform: translateX(100%) translate3d(0, 0, 0);
    }
    to {
        transform: translateX(100%) translate3d(100, 0, 0);
    }
}

.mainInterior {
}

.mainInterior h2 {
    line-height: 1;
}

.mainInterior h2::after {
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    background: #2e3d76;
    margin-top: 25px;
}

.mainInterior .container {
    display: block;
    width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
}

.mainInterior .inArrow {
    font-size: 13px;
    color: #2e3d76;
    margin: 0 3px 0 0;
    transform: translateY(15px);
    margin: 10px 0 0 0;
    text-align: end;
}

.mainInterior .inArrow i {
    border: 1px solid #2e3d76;
    border-radius: 50%;
    padding: 5px;
    margin: 0 3px;
}

.inArrow i:hover {
    color: #fff;
    background: #2e3d76;
}

.mainInterior .inSlide .inte01 {
    background: url(../img/bg07.jpg) no-repeat center center/cover;
}

.mainInterior .inSlide .inte02 {
    background: url(../img/bg04.jpg) no-repeat center center/cover;
}

.mainInterior .inSlide .inte03 {
    background: url(../img/bg06.jpg) no-repeat center center/cover;
}

.mainInterior .inSlide .inte04 {
    background: url(../img/bg09.jpg) no-repeat center center/cover;
}

.inSlide figure {
    border-radius: 15px;
    height: 400px;
    margin: 0 15px;
}

.mainInterior .inBox {
    display: flex;
}

.mainInterior .left {
    margin: auto 0;
    width: 25%;
    line-height: 1.3;
}

.mainInterior .left p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 10px 0;
}
.mainInterior .left p:nth-child(3) {
    font-size: 15px;
    line-height: 1.2;
}

.mainInterior .right {
    width: 75%;
    overflow: hidden;
    padding: 0 0 0 30px;
}

.mainInterior .inSlide {
    width: 120%;
}

.mainFran {
    padding: 50px 0 100px 0;
}

.mainFran .container {
    display: block;
}

.mainFran .txt {
    display: flex;
    margin: 0 0 20px 0;
}

.mainFran h2 {
    margin: auto 5px 0 0;
}

.mainFran .txt p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin: auto 0 0 0;
    /* margin: 0 0 20px 0; */
}

.mainFran table {
    width: 100%;
    border-collapse: collapse;
}

.mainFran table td {
    padding: 50px;
    text-align: center;
    border: 1px solid #ddd;
}

.mainFran span {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.mainFran strong {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
}

.mainFran p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.footer {
}

.footer {
    padding: 50px 0;
    background: #2e3d76;
    color: #ddd;
}

.footer .container {
    justify-content: space-between;
}

.footer .List {
    justify-content: space-between;
    width: 1200px;
    display: flex;
    gap: 3 0px;
}

.footer h3 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.footer dd {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
}

.footer .last {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.footer .last h3 {
    margin: 0 0 5px 0;
}

.footer .last a {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.3;
    color: #f8f8f8;
}

.footer .last .email {
    font-size: 13px;
    font-weight: 300;
}

.footer .sns {
}

.footer .sns i {
    font-size: 19px;
    padding: 0 2px;
}

/* 



                반응형ㅇㅅㅇ




*/

@media (max-width: 768px) {
    @import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
    @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Nanum+Myeongjo&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
    /* font-family: 'Cormorant Garamond', serif; */
    * {
        font-family: "Spoqa Han Sans Neo", "sans-serif";
        /* outline: 1px solid #f00; */
    }

    /* #2c99cd, #2e3d76 */

    .container {
        display: flex;
        width: auto;
        margin: 0 auto;
    }

    h2 {
        font-size: 25px;
        font-weight: 700;
        color: #333;
        margin: 0 auto;
    }

    p {
        color: #333;
        letter-spacing: -0.025em;
    }

    section {
        padding: 50px 0;
    }

    .header {
    }

    .header .container {
        justify-content: space-between;
        position: relative;
    }

    .header h1 {
        font-size: 0;
        align-items: center;
        padding: 10px 20px;
    }

    .header h1 img {
        height: 80px;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        height: 100vh;
        width: calc(100% - 90px);
        background: #fff;
        transition: 0.5s;
        padding: 30px 0;
        border-right: 1px solid #ddd;
    }

    .header .gnb.on {
        left: 0;
    }

    .gnb ul {
        font-size: 17px;
        display: block;
        gap: 50px;
        line-height: 40px;
        text-align: center;
    }

    .gnb ul li {
        border-bottom: 1px solid #ddd;
    }

    .log {
        display: none;
    }

    .log ul {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        gap: 20px;
        line-height: 120px;
    }

    .bar {
        display: block;
        position: fixed;
        top: 40px;
        right: 30px;
        background: #f4f4f4;
        border-radius: 3px;
        z-index: 999;
        cursor: pointer;
    }

    .bar i {
        font-size: 20px;
        padding: 5px;
    }

    .mainVisual {
        padding: 0 0 50px 0;
    }

    .mainVisual .bg01 {
        background: url(../img/bg08.jpg) no-repeat bottom 10% center / cover;
        height: 500px;
    }

    .mainVisual .bg02 {
        background: url(../img/bg10.jpg) no-repeat top 65% right 5% / cover;
        height: 500px;
    }

    .mainVisual .bg03 {
        background: url(../img/bg05.jpg) no-repeat center center/cover;
        height: 500px;
    }

    .mainVisual .scr {
        display: none;
    }

    .mainCopy {
        position: relative;
    }

    .mainCopy::after {
        display: none;
        font-family: "Cormorant Garamond", serif;
        content: "blu shaak";
        position: absolute;
        top: 45%;
        right: 0;
        font-size: 250px;
        font-weight: 700;
        letter-spacing: 0.08em;
        color: rgba(0, 0, 0, 0.03);
        z-index: -1;
    }

    .mainCopy .container {
        gap: 100px;
        display: block;
    }

    .mainCopy .left {
        flex: 1;
    }

    .mainCopy .bg {
        position: relative;
        width: 300px;
        height: 300px;
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .mainCopy .shaak {
        position: absolute;
        top: 50%;
        left: 55%;
        animation: shaak 5s infinite;
        height: 200px;
    }

    @keyframes shaak {
        0% {
            top: 62%;
            transform-origin: bottom center;
            transform: translate(-50%, -50%) rotate(90deg);
        }
        100% {
            top: 65%;
            transform-origin: bottom center;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }

    .mainCopy .waveBack {
        position: absolute;
        top: 150%;
        left: 50%;
        background: #304d82;
        width: 600px;
        height: 600px;
        border-radius: 45%;
        animation: wave 6s infinite;
    }

    .mainCopy .waveFront {
        position: absolute;
        top: 160%;
        left: 50%;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        width: 600px;
        height: 600px;
        border-radius: 45%;
        animation: wave 5s infinite;
        z-index: 999;
    }

    @keyframes wave {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    .mainCopy .right {
        flex: 2;
        margin: auto 0;
        padding: 0 20px;
        text-align: center;
    }

    .mainCopy .right span {
        font-family: "Cormorant Garamond", serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 1.6;
    }

    .mainCopy .right p {
        font-size: 3.3vw;
        font-weight: 500;
        line-height: 1.3;
        margin: 0 0 10px 0;
    }

    .mainCopy .right p:nth-child(2) {
        font-size: 2.9vw;
        font-weight: 400;
    }

    .mainMenu {
    }

    .mainMenu {
        padding: 50px 0;
    }

    .mainMenu .container {
        /* width: 1260px; */
        display: block;
        height: 350px;
    }

    .menuTop {
        display: flex;
        justify-content: space-between;
    }

    .fleBox {
        display: block;
    }

    .tabMenu {
        display: flex;
        justify-content: center;
        gap: 0;
        flex: 1;
        border: 0;
        border-radius: 10px;
        padding: 10px 20px;
        width: auto;
        font-size: 13px;
    }

    .tabMenu > li > a {
        text-align: center;
        display: inline-block;
        line-height: 30px;
        padding: 0 15px;
        border-radius: 17px;
    }

    .tabMenu > li.on > a {
        background: #2e3d76;
        color: #fff;
    }

    .tabCoffee {
        flex: 1;
    }

    .tabContent {
        position: relative;
    }

    .tabContent > li {
        position: absolute;
        inset: 0 auto auto 0;
        visibility: hidden;
        opacity: 0;
        /* width: 100%; */
        transition: 0.5s;
    }

    .tabContent > li.on {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    /* 
    .menuSlide {
        width: 120%;
    } */

    .menuSlide figure {
        padding: 0 15px;
    }

    .menuSlide figure img {
        border-radius: 10px;
        margin: 0 auto 10px;
    }

    .menuSlide .txt {
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        color: #333;
        text-indent: 0;
    }

    .arrow {
        display: none;
        font-size: 13px;
        color: #2e3d76;
        margin: 0 3px 0 0;
        transform: translateY(15px);
    }

    .arrow i {
        border: 1px solid #2e3d76;
        border-radius: 50%;
        padding: 5px;
        margin: 0 3px;
    }

    .arrow i:hover {
        color: #fff;
        background: #2e3d76;
    }

    .mainTxt {
    }

    .mainTxt {
        display: none;
        position: relative;
        overflow: hidden;
        padding: 40px 0;
    }

    .mainTxt::before {
        font-family: "Cormorant Garamond", serif;
        content: "Blu Shaak Blu Shaak Blu Shaak Blu Shaak Blu Shaak";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 80px;
        font-weight: 900;
        color: #2e3c761a;
        white-space: nowrap;
        animation: move 20s infinite linear;
        padding: 0;
    }

    .mainTxt::after {
        font-family: "Cormorant Garamond", serif;
        content: "Blu Shaak Blu Shaak Blu Shaak Blu Shaak Blu Shaak";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 80px;
        font-weight: 900;
        color: #2e3c761a;
        white-space: nowrap;
        animation: move2 20s infinite linear;
        padding: 0;
    }

    @keyframes move {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    @keyframes move2 {
        from {
            transform: translateX(100%) translate3d(0, 0, 0);
        }
        to {
            transform: translateX(100%) translate3d(100, 0, 0);
        }
    }

    .mainInterior {
        padding: 50px 0;
        text-align: center;
    }

    .mainInterior h2 {
        line-height: 1;
        margin: 0 0 10px 0;
    }

    .mainInterior h2::after {
        content: "";
        display: block;
        width: 55px;
        height: 2px;
        background: transparent;
        margin-top: 0;
    }

    .mainInterior .container {
        display: block;
        /* width: calc((100% - 768px) / 2 + 768px); */
        width: auto;
        margin: 0 0 0 0;
        overflow-x: hidden;
    }

    .mainInterior .inArrow {
        display: none;
        font-size: 13px;
        color: #2e3d76;
        margin: 0 3px 0 0;
        transform: translateY(15px);
        margin: 0 0 0 auto;
        text-align: end;
    }

    .mainInterior .inArrow i {
        border: 1px solid #2e3d76;
        border-radius: 50%;
        padding: 5px;
        margin: 0 3px;
    }

    .inArrow i:hover {
        color: #fff;
        background: #2e3d76;
    }

    .mainInterior .inSlide .inte01 {
        background: url(../img/bg07.jpg) no-repeat center center/cover;
    }

    .mainInterior .inSlide .inte02 {
        background: url(../img/bg04.jpg) no-repeat center center/cover;
    }

    .mainInterior .inSlide .inte03 {
        background: url(../img/bg06.jpg) no-repeat center center/cover;
    }

    .mainInterior .inSlide .inte04 {
        background: url(../img/bg09.jpg) no-repeat center center/cover;
    }

    .inSlide figure {
        border-radius: 15px;
        height: 300px;
        margin: 0 15px 10px 15px;
    }

    .inSlide .slick-dots button {
        display: none;
    }

    .inSlide .slick-dots {
        display: flex;
        gap: 5px;
        justify-content: center;
    }

    .inSlide .slick-dots li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #2e3d76;
    }

    .inSlide .slick-dots li.slick-active {
        background: #2e3d76;
    }

    .mainInterior .inBox {
        display: block;
    }

    .mainInterior .left {
        margin: 0 auto 10px;
        width: auto;
        line-height: 1.3;
        padding: 0 20px;
    }

    .mainInterior .left p:nth-child(2) {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 10px 0;
    }
    .mainInterior .left p:nth-child(3) {
        font-size: 14px;
        line-height: 1.2;
    }

    .mainInterior .right {
        width: auto;
        overflow: hidden;
        padding: 0 0 0 0;
    }

    .mainInterior .inSlide {
        width: 100%;
    }

    .mainFran {
    }

    .mainFran {
        padding: 50px 20px 100px 20px;
    }

    .mainFran .container {
        display: block;
    }

    .mainFran .txt {
        display: block;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .mainFran h2 {
        margin: 0 0 10px 0;
    }

    .mainFran .txt p {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 20px 0;
        /* margin: 0 0 20px 0; */
    }

    .mainFran table {
        width: 100%;
        border-collapse: collapse;
    }

    .mainFran table td {
        width: 33.333%;
        padding: 20px 5px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .mainFran p {
        display: none;
    }

    .mainFran span {
        font-size: 21px;
        font-weight: 500;
        margin: 0;
    }

    .mainFran strong {
        font-size: 3vw;
        font-weight: 400;
    }

    .footer {
    }

    .footer {
        padding: 50px 20px;
        background: #2e3d76;
        color: #ddd;
    }

    .footer .container {
        width: 100%;
    }

    .footer .List {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer .List > div {
        width: calc(25% - 20px);
    }

    .footer .List div:nth-child(5) {
        width: 100%;
    }

    .footer h3 {
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 10px 0;
    }

    .footer dd {
        font-size: 2vw;
        font-weight: 300;
        line-height: 1.4;
    }

    .footer .last {
        display: flex;
        width: 100%;
        flex-direction: column;
        line-height: 1.4;
    }

    .footer .last h3 {
        margin: 0 0 5px 0;
    }

    .footer .last a {
        font-size: 3vw;
        font-weight: 400;
        line-height: 1.3;
        color: #f8f8f8;
    }

    .footer .last .email {
        font-size: 13px;
        font-weight: 300;
    }

    .footer .sns i {
        font-size: 4vw;
        padding: 0 2px;
    }
}
